.users{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.4rem;
    margin: 1.5rem 0 0;
    width: 17%;
    height: var(--chatHeight);
    border: 2px solid var(--secondary);
    box-shadow: 2px 2px 4px var(--secondary);
    border-radius: 0.5rem;
    overflow-y: auto;
}

.active{
    color:var(--primary);
}